# dependencies
node_modules/

# build output
dist/
*.tsbuildinfo

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor / OS
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# env
.env
.env.*
!.env.example
